## 作業環境
vendor/
vendor/*
composer.lock
.vscode/
.vscode/*
.workbench/
.workbench/*
.DS_Store
node_modules/
node_modules/*
kamui/
_temp/
_temp/*

## 機密ファイル
env.php

## テスト環境
dev/tests/logs/
dev/tests/logs/*
